nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #3d3d3d;
}

.navbar .navbar-brand, .navbar .nav-link {
  color: white;
}

.hero-section {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('img/hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}

.section-padding {
    padding: 60px 0;
}
