.hero-section {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://img.freepik.com/free-photo/female-professional-volleyball-players-action-3d-stadium_654080-1063.jpg?t=st=1773040752~exp=1773044352~hmac=5630e015400b45fb2af9ee3d49694cfee07eb075cde5a6fdf57739f9ebb6f199&w=740');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}
.section-padding { padding: 60px 0; }
