nav a {
    color: white;
}

nav li {
    display: flex
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}

.hero-section {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('img/hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}

.section-padding {
    padding: 60px 0;
}
